/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

:root {
  --font-family: "Inter", sans-serif;
  --second-family: "Fraunces", sans-serif;
  --color-white: #fff;
  --color-blue: #0070a0;
  --color-dark: #1f1f1f;
  --color-dark-alt: #33383f;
}

body {
  font-family: var(--font-family);
  font-weight: 400;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 15px;
}

.button {
  height: 36px;
  padding: 0 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  letter-spacing: 0.01em;
  color: var(--color-white);
  background-color: var(--color-blue);
  border: 1px solid transparent;
  transition: all 0.3s ease;
}
.button:hover {
  color: var(--color-blue);
  background-color: var(--color-white);
  border-color: var(--color-blue);
}

.link {
  display: inline-block;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  letter-spacing: 0.01em;
  color: #0070a0;
  transition: transform 0.3s ease;
}
.link--arrow {
  display: flex;
  align-items: center;
  gap: 5px;
}
.link--arrow:after {
  content: "";
  width: 14px;
  height: 21px;
  display: inline-block;
  background-image: url("./../images/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: right;
}
.link:hover {
  transform: translateY(-2px);
}

.header {
  padding: 20px 0;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav-wrapper {
  display: flex;
  align-items: center;
  gap: 30px;
}

.menu__list {
  display: flex;
  gap: 20px;
}

.menu__link {
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  letter-spacing: 0.01em;
  color: var(--color-dark-alt);
  transition: color 0.3s ease;
}
.menu__link:hover {
  color: var(--color-blue);
}

.header__btns {
  display: flex;
  align-items: center;
  gap: 20px;
}

.hero {
  padding: 70px 0 90px;
}

.hero__inner {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.hero__text {
  max-width: 525px;
  padding: 56px 0;
  display: flex;
  flex-direction: column;
}

.hero__title {
  margin-bottom: 20px;
  font-family: var(--second-family);
  font-size: 58px;
  line-height: 110%;
  letter-spacing: 0em;
  color: var(--color-dark);
}

.hero__desc {
  margin-bottom: 32px;
}
.hero__desc p {
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: var(--color-dark);
}

.hero__btns {
  display: flex;
  align-items: center;
  gap: 24px;
}

.trusted {
  padding: 40px 0 80px;
}

.trusted__title {
  margin-bottom: 24px;
  font-size: 24px;
  line-height: 156%;
  letter-spacing: 0.01em;
  text-align: center;
  color: var(--color-dark);
}

.trusted__list {
  display: flex;
  justify-content: center;
  align-self: flex-end;
  gap: 60px;
}

.trusted__item {
  display: flex;
}

.benefits {
  padding: 80px 0 120px;
}

.benefits__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 33px;
}

.benefits__list-item {
  padding: 32px 36px 40px 32px;
  display: flex;
  flex-direction: column;
}
.benefits__list-item--yellow {
  background-color: #faea73;
}
.benefits__list-item--blue {
  background-color: #cceff6;
}
.benefits__list-item--pink {
  background-color: #f7cedc;
}
.benefits__list-item img {
  margin-bottom: 8px;
  width: 55px;
  aspect-ratio: 1;
}

.benefits__list-title {
  margin-bottom: 11px;
  font-family: var(--second-family);
  font-size: 25px;
  line-height: 125%;
  letter-spacing: 0.01em;
  color: var(--color-dark);
}

.benefits__list-text {
  font-size: 15px;
  line-height: 160%;
  letter-spacing: 0.01em;
  color: var(--color-dark);
}

.accordion__group {
  padding: 0 18px;
  display: grid;
  row-gap: 1px;
}

.accordion {
  max-width: 450px;
  padding: 18px 16px 23px 0;
  border-top: 1px solid #c2cdd8;
  border-bottom: 1px solid #c2cdd8;
}
.accordion__summary {
  list-style: none;
}
.accordion__summary::webkit-details-marker {
  display: none;
}
.accordion__title {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 60px;
  cursor: pointer;
  transition: color 0.3s ease;
}
.accordion__title img {
  position: absolute;
  left: 12px;
}
.accordion__title:after {
  content: "";
  display: block;
  width: 18px;
  height: 10px;
  background-image: url("./../images/services/arrow-down.svg");
  background-position: right;
  background-repeat: no-repeat;
}
.accordion__title:hover {
  color: var(--color-blue);
}

.accordion__details[open] + .accordion__content {
  grid-template-rows: 1fr;
}

.accordion__content {
  padding-left: 60px;
  display: grid;
  grid-template-rows: 0fr;
  transition-duration: 0.3s;
}

.accordion__content-inner {
  overflow: hidden;
}

.accordion__content-body {
  margin-top: 16px;
}

.services {
  padding: 80px 0;
  background-color: #f7f9fa;
}

.services__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.services__img {
  margin-right: 60px;
}

.services__title {
  max-width: 630px;
  font-family: var(--second-family);
  font-size: 42px;
  line-height: 120%;
  letter-spacing: 0em;
  color: #1f1f1f;
}

.about {
  padding: 120px 0;
}

.about__inner {
  display: flex;
  justify-content: space-between;
  gap: 98px;
}

.about__title {
  max-width: 300px;
  font-family: var(--second-family);
  font-size: 42px;
  line-height: 120%;
  letter-spacing: 0em;
  color: var(--color-dark);
  flex-shrink: 0;
}

.about__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}

.about__list-item {
  display: flex;
  flex-direction: column;
  padding-bottom: 16px;
}

.about__list-img {
  margin-bottom: 8px;
  width: 55px;
  aspect-ratio: 1;
}

.about__list-title {
  margin-bottom: 11px;
  font-family: var(--second-family);
  font-size: 25px;
  line-height: 125%;
  letter-spacing: 0.01em;
  color: var(--color-dark);
}

.about__list-text {
  font-family: var(--font-family);
  font-size: 15px;
  line-height: 160%;
  letter-spacing: 0.01em;
  color: var(--color-dark);
}

.availability {
  padding: 80px 0;
  background-color: var(--color-blue);
}

.availability__inner {
  display: flex;
  justify-content: space-between;
}

.availability__content {
  max-width: 500px;
  display: flex;
  flex-direction: column;
}

.availability__title {
  margin-bottom: 18px;
  font-family: var(--second-family);
  font-size: 42px;
  line-height: 120%;
  letter-spacing: 0em;
  color: var(--color-white);
}

.availability__text {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: var(--color-white);
}

.availability__list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 16px;
}

.availability__item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.availability__item-title {
  font-size: 16px;
  line-height: 135%;
  letter-spacing: 0.01em;
  color: var(--color-white);
}

.availability__btn {
  align-self: flex-start;
}

.tasks {
  padding: 120px 0;
}

.tasks__top {
  max-width: 650px;
  margin-bottom: 65px;
}

.tasks__title {
  margin-bottom: 18px;
  font-family: var(--second-family);
  font-size: 42px;
  line-height: 120%;
  letter-spacing: 0em;
  color: var(--color-dark);
}

.tasks__description p {
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: var(--color-dark);
}

.tasks__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 64px;
}

.tasks__card-img {
  margin-bottom: 8px;
  width: 55px;
  aspect-ratio: 1;
}

.tasks__card-title {
  margin-bottom: 11px;
  font-family: var(--second-family);
  font-size: 25px;
  line-height: 125%;
  letter-spacing: 0.01em;
  color: var(--color-dark);
}

.tasks__card-text {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: var(--color-dark);
}

.blog {
  padding: 80px 0;
  background-color: #f7f9fa;
}

.blog__top {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.blog__title {
  font-family: var(--second-family);
  font-size: 42px;
  line-height: 120%;
  letter-spacing: 0em;
  color: var(--color-dark);
}

.blog__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}

.blog__info {
  padding: 25px 24px 28px;
}

.blog__card-link {
  margin-bottom: 8px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 12px;
  height: 22px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: 0.03em;
  text-align: center;
  color: #2c90c9;
  background-color: #e6f7ff;
  transition: color 0.3s ease, background-color 0.3s ease;
}
.blog__card-link:hover {
  color: var(--color-white);
  background-color: var(--color-blue);
}

.blog__card-title {
  margin-bottom: 11px;
  font-family: var(--second-family);
  font-size: 25px;
  line-height: 125%;
  letter-spacing: 0.01em;
  color: var(--color-dark);
}

.blog__card-text {
  margin-bottom: 13px;
}
.blog__card-text p {
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.01em;
  color: var(--color-dark);
}

.blog__card-time {
  font-size: 12px;
  line-height: 163%;
  letter-spacing: 0.02em;
  color: var(--color-dark);
}/*# sourceMappingURL=main.css.map */