.tasks {
  padding: 120px 0;

  @media (max-width: 767px) {
    padding: 50px 0;
  }
}

.tasks__top {
  max-width: 650px;
  margin-bottom: 65px;

  @media (max-width: 767px) {
    margin-bottom: 40px;
  }
}

.tasks__title {
  margin-bottom: 18px;
  font-family: var(--second-family);
  font-size: 42px;
  line-height: 120%;
  letter-spacing: 0em;
  color: var(--color-dark);

  @media (max-width: 767px) {
    font-size: 30px;
  }
}

.tasks__description {
  p {
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: var(--color-dark);

    @media (max-width: 767px) {
      font-size: 16px;
    }
  }
}

.tasks__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 64px;

  @media (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 500px) {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}

.tasks__card-img {
  margin-bottom: 8px;
  width: 55px;
  aspect-ratio: 1;
}

.tasks__card-title {
  margin-bottom: 11px;
  font-family: var(--second-family);
  font-size: 25px;
  line-height: 125%;
  letter-spacing: 0.01em;
  color: var(--color-dark);

  @media (max-width: 500px) {
    font-size: 20px;
  }
}

.tasks__card-text {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: var(--color-dark);

  @media (max-width: 500px) {
    font-size: 14px;
  }
}
